body {
    background-color: white;
    font-family: Verdana;
    font-size: 12px;
}

.main-header {
    width: 100vw;
    position: relative;
    height: 100vh;
    background: url(../img/header.jpg) no-repeat center center;
    background-size: cover;

}

.main-header-div {
    color: #333;
    text-align: bottom;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* flex-wrap: wrap; */
}
