.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: lightskyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  margin: 10px;
  height: 30px;
  width: 200px;
  padding: 10px;
  outline: 1px;
  border: 0 solid;
}

button{
  background-color: blue;
  color: #fff;
  border: 0 solid;
  margin: 10px;
  height: 50px;
  width: 100px;
}

h1{
  margin-left: -200px;
  color: navy;
  font: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

li{
  border-radius: 5px;
  background-color: #b3eeff;
  color: navy;
  height: 30px;
  width: 250px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  list-style: none;
}


