body {
  font-family: "Open Sans", sans-serif;
  background-color: #001d8a;
  background: url(../../img/background.png);
  color: white;
  position: top;
  /*    background-size: cover;*/
  background-repeat: no-repeat; }

p {
  color: white; }

.yellow {
  color: #ecd407; }

header {
  color: white; }
  header .logo i {
    color: #ecd407;
    float: left;
    margin: 10px;
    font-size: 30px; }
  header .contact i {
    /*color: $gray-color;*/
    float: left;
    margin: 10px;
    font-size: 30px; }
  header .contact .call {
    font-size: 12px;
    margin: 0px; }
  header .contact .phone {
    margin: 0px; }

.bggold {
  background-color: #ecd407; }

#form-section {
  margin-top: 100px; }
  #form-section form {
    padding: 20px;
    /*background-color: $main-color;*/ }
    #form-section form h4 {
      margin-top: 10px;
      font-size: 36px;
      font-weight: 700; }
    #form-section form fieldset {
      background-color: navy;
      padding: 25px; }
      #form-section form fieldset h2 {
        text-align: justify; }
      #form-section form fieldset textarea,
      #form-section form fieldset input:not([type="submit"]) {
        width: 100%;
        margin-bottom: 25px;
        padding: 10px 20px;
        border: 0 solid; }
      #form-section form fieldset input[type="submit"] {
        font-weight: 700;
        border: 0 solid;
        background-color: #ecd407;
        transition: all .3s;
        height: 4em;
        width: 6em; }

footer
i {
  font-weight: 700;
  border: 0 solid;
  background-color: #ecd407;
  transition: all .3s;
  color: black;
  height: 30px;
  width: 30px;
  margin: 0 auto; }
