body{
    background-color: white;
    font-size: 18px;
    color: #592bb5;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* section users */
#users{
    /* display: flex; */
    flex-direction: column;
    width:80%;
    height:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10px;
    /* align-content: center; */
}

/* top logo Akademia */
#top{
    margin-top: 30px;
    /* padding: 30px; */
}
/* fontawsome user */
#logo{
    color: #592bb5;
    display: flex;
    float: left;
}
/* text "Akademia" */
#akademia{
    display: flex;
    /* float: left; */
    line-height: 50px;
    font-family: 'Text Me One', sans-serif;
    font-size: 50px;
    color: #592bb5;
    text-transform: uppercase;
    font-weight: 700;
}

/* searcher */
#form-search{
    display: flex;
    /* float: right; */
    /* margin-left: 0px; */
    justify-content: flex-end;
    margin-bottom: 30px;
    /* padding: 30px; */
}
/* button search */
#btn-search{
    background-color: #00babb;
    border: 0px solid;
    border-radius: 50%;
    font-size: 21px;
    color: #fff;
    width: 35px;
    height: 35px;
}
/* icon search */
.far, .fa-user-circle{
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
/* input search */
#site-search{
    border: 1px solid #00babb;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    margin-right: 15px;
}

/* table */
.table{
    display: inline-block;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    /* text-align: center; */
}
table{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    border: 0px solid;
    /* display: flex; */
    /* justify-content: center; */
}
th{
    background-color: #592bb5;
    padding: 10px;
    color: #fff;
    font-family: 'Text Me One', sans-serif;
}
tr{
    /* border: 2px solid #ddd; */
}
td{
    padding: 5px;
    background-color: rgb(244, 244, 244);
    outline: 1px solid #fff;
}

.t-number:nth-of-type(1){
    background-color: #746db2;
    flex-grow: 1;
    /* width: 5%; */
    height: 35px;
}
.t-name:nth-of-type(2){
    flex-grow: 5;
    /* width: 20%; */
    height: 35px;
}
.t-user:nth-of-type(3){
    flex-grow: 1;
    /* width: 15%; */
    height: 35px;
}
.t-email:nth-of-type(4){
    flex-grow: 1;
    /* width: 40%; */
    height: 35px;
}
.t-actions:nth-of-type(5){
    flex-grow: 1;
    /* width: 20%; */
    height: 35px;
}

/* button add */
#btn-add{
    background-color: #00babb;
    border: 0px solid;
    border-radius:25px;
    font-size: 21px;
    color: #fff;
    width: 200px;
    height: 35px;
    margin-top: 30px;
}

